<form action="/shops/{{name}}" method="POST">


    <h2>price: </h2> 
    <input type="text" name="price" value="" placeholder="enter price" class="textName">
    
    <h2>QTY</h2>
    <input type="text" name="qty" value="" placeholder="enter quantity" class="textName">

    <button class="button-primary submit" type="submit" name="button"> <span>Add deals</span></button>
</form>